<div class="body">
  <div *ngIf="direction !== undefined">
    <mat-card class="account">
      <h1>Informazioni utente</h1>
      <br>
      <div style="text-align:center">
        <section class="header">
          <h4>Il tuo indirizzo è: {{ direction }} </h4>
          <h4>Il tuo saldo è: {{ balance }} ETH</h4>
        </section>
      </div>
    </mat-card>
    <br>
    <mat-card class="account" *ngIf="owner">
      <h4>Il saldo del contratto è: {{ balanceContract }} ETH</h4>
      <mat-card-actions align="end">
        <button mat-button (click)="preleva()">Preleva tutto</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="direction == undefined">

    <mat-card class="account">

      <div style="text-align:center">
        <section class="header">
          <h1>Non sei connesso!</h1>
          <h3> Fare clic su Connetti account per connettere il fornitore del portafoglio </h3>
          <button mat-raised-button color="accent" class="big-round-shape-button" (click)="connectAccount()"> Connetti
            account
          </button>
          &nbsp;
        </section>
      </div>

    </mat-card>

  </div>
</div>
